<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerLogin</display-name>
    <servlet-name>CustomerLogin</servlet-name>
    <servlet-class>com.revature.project1.CustomerLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLogin</servlet-name>
    <url-pattern>/CustomerLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerRegister</display-name>
    <servlet-name>CustomerRegister</servlet-name>
    <servlet-class>com.revature.project1.CustomerRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegister</servlet-name>
    <url-pattern>/CustomerRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeLogin</display-name>
    <servlet-name>EmployeeLogin</servlet-name>
    <servlet-class>com.revature.project1.EmployeeLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLogin</servlet-name>
    <url-pattern>/EmployeeLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>com.revature.project1.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposit</display-name>
    <servlet-name>Deposit</servlet-name>
    <servlet-class>com.revature.project1.Deposit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposit</servlet-name>
    <url-pattern>/Deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdrawal</display-name>
    <servlet-name>Withdrawal</servlet-name>
    <servlet-class>com.revature.project1.Withdrawal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdrawal</servlet-name>
    <url-pattern>/Withdrawal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>com.revature.project1.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveTransferAmount</display-name>
    <servlet-name>ApproveTransferAmount</servlet-name>
    <servlet-class>com.revature.project1.ApproveTransferAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveTransferAmount</servlet-name>
    <url-pattern>/ApproveTransferAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAccounts</display-name>
    <servlet-name>ViewAccounts</servlet-name>
    <servlet-class>com.revature.project1.ViewAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccounts</servlet-name>
    <url-pattern>/ViewAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPendingTransfers</display-name>
    <servlet-name>ViewPendingTransfers</servlet-name>
    <servlet-class>com.revature.project1.ViewPendingTransfers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPendingTransfers</servlet-name>
    <url-pattern>/ViewPendingTransfers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectTransfers</display-name>
    <servlet-name>RejectTransfers</servlet-name>
    <servlet-class>com.revature.project1.RejectTransfers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectTransfers</servlet-name>
    <url-pattern>/RejectTransfers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountApplication</display-name>
    <servlet-name>AccountApplication</servlet-name>
    <servlet-class>com.revature.project1.AccountApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountApplication</servlet-name>
    <url-pattern>/AccountApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCustomerAccounts</display-name>
    <servlet-name>ViewCustomerAccounts</servlet-name>
    <servlet-class>com.revature.project1.ViewCustomerAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCustomerAccounts</servlet-name>
    <url-pattern>/ViewCustomerAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckPendingAccounts</display-name>
    <servlet-name>CheckPendingAccounts</servlet-name>
    <servlet-class>com.revature.project1.CheckPendingAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckPendingAccounts</servlet-name>
    <url-pattern>/CheckPendingAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApprovePendingAccounts</display-name>
    <servlet-name>ApprovePendingAccounts</servlet-name>
    <servlet-class>com.revature.project1.ApprovePendingAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApprovePendingAccounts</servlet-name>
    <url-pattern>/ApprovePendingAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RejectPendingAccounts</display-name>
    <servlet-name>RejectPendingAccounts</servlet-name>
    <servlet-class>com.revature.project1.RejectPendingAccounts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RejectPendingAccounts</servlet-name>
    <url-pattern>/RejectPendingAccounts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewTransactionLog</display-name>
    <servlet-name>ViewTransactionLog</servlet-name>
    <servlet-class>com.revature.project1.ViewTransactionLog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewTransactionLog</servlet-name>
    <url-pattern>/ViewTransactionLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>com.revature.project1.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
</web-app>